<div class="results-block">
  <%= render 'layouts/message' %>
</div>

<% if @friends %>
  <div class="card card-header results-block">
    <table class="col-md-12 table table-dark tablle-striped table-hover">
     <tbody>
       <% @friends.each do |friend| %>
         <tr>
           <td><strong>Name: </strong> <%= friend.full_name %></td>
           <td><strong>Email: </strong> <%= friend.email %></td>
           <td>
             <%= link_to user_path(friend), class: "btn same1 btn-sm btn-secondary" do %>
                  <span><%=fa_icon("eye")%><span class = "toggle"> View</span></span>
             <%end%>
             <% if current_user.not_friends_with?(friend.id) %>
               <%= link_to friendships_path(friend: friend),
                             class: "btn same2 btn-sm btn-success", method: :post do %>
                <span><%=fa_icon("user-plus")%><span class = "toggle"> Follow?</span></span>
               <%end%>
             <% else %>
               <span class="badge badge-secondar">
                 You are friends
               </span>
             <% end %>
           </td>
         </tr>
       <% end %>
     </tbody>
   </table>
 </div>
<% end %>
