<h1><%=@act%> Shares</h1>
<hr>
<h3><%=@act%>ing <%=@stock.name%> </h3>


<%# <%= form_for( user_stock_path(@user_stock), method: :put, :html => {class: "form-horizontal", role: "form"}) do |f| %>
<%= form_for @user_stock do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :quantity %>
      <%= f.text_field :quantity, autofocus: true, class: 'form-control'%>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      Price = <%=@stock.last_price%>
    </div>
  </div>
  <%if @act == "Sell"%>
    <div class="form-group">
      <%= f.submit 'Sell',  class: 'btn btn-primary' %>
      <%= hidden_field_tag :act, "Sell" %>
    </div>
  <%else%>
    <div class="form-group">
      <%= f.submit 'Buy',  class: 'btn btn-primary' %>
      <%= hidden_field_tag :act, "Buy" %>
    </div>
  <%end%>
<%end%>
